<div class="container">
  <h1 style="margin-left:400px">Remove Employee Managment</h1>
  <button  (click)="BackButton()" mat-raised-button color="primary" style="margin-left:1100px">&nbsp;&nbsp; BACK</button>
  <form class="example-form" >
    <mat-form-field class="example-full-width" >
      <input matInput placeholder="employee_name" [(ngModel)]="employee_name" name="employee_name">
    </mat-form-field>

    <mat-form-field class="example-full-width" >
      <input matInput placeholder="employee_designation" [(ngModel)]="employee_designation" name="employee_designation">
    </mat-form-field>

    <mat-form-field class="example-full-width" >
      <input matInput placeholder="employee_salary" [(ngModel)]="employee_salary" name="employee_salary" >
    </mat-form-field>

    <mat-form-field class="example-full-width" >
      <input matInput placeholder="employee_joining_date" [(ngModel)]="employee_joining_date"  name="employee_joining_date" >
    </mat-form-field>

    <mat-form-field class="example-full-width" >
      <input matInput   placeholder="Working Experiance" [(ngModel)]="difference" name="difference" >
    </mat-form-field>

    
      
        

        