<div class="container">
  <h1 style="margin-left:450px;font-size: 40px">ADD EMPLOYEE</h1>
  <button  (click)="BackButton()" mat-raised-button color="primary" style="margin-left:1000px">&nbsp;&nbsp; BACK</button>
  <form class="example-form" (ngSubmit)="addForm(f1)"  #f1="ngForm">
      <div class="row">
          <div class="col-md-6">    
    <mat-form-field class="example-full-width" >
      <input type="email" matInput placeholder="Employee email" [(ngModel)]="employee_email" name="employee_email" required id="employee_email" #email="ngModel">
    </mat-form-field>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors.required">
          Employee Email Is Required.
        </div>
      </div>

  
    <!-- <mat-form-field class="example-full-width" >
      <input type="password" matInput placeholder="Employee Password" [(ngModel)]="employee_password" name="employee_password" required id="employee_password" #pass="ngModel">
    </mat-form-field>
    <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
        <div *ngIf="pass.errors.required">
          Employee Password Is Required.
        </div>
      </div> -->
    
  
    <mat-form-field class="example-full-width" >
      <input pattern="[a-zA-Z ]*" matInput placeholder="Employee Name" [(ngModel)]="employee_name" name="employee_name" required id="employee_name" #name="ngModel">
    </mat-form-field>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Employee Name Is Required.
        </div>
        <div *ngIf="name.errors.pattern">
          You Can Not Enter Any Digit.
          </div>
      </div>

    
      <mat-form-field class="example-full-width">
        <input  matInput [matDatepicker]="pickerFrom" placeholder="Choose Joining Date" [(ngModel)]="employee_joining_date" name="employee_joining_date"  required id="employee_joining_date" #date="ngModel">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker touchUi #pickerFrom></mat-datepicker>
      </mat-form-field>  
      <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">
          <div *ngIf="date.errors.required">
            Employee Date Is Required.
          </div>
        </div>
      
    
      <mat-form-field class="example-full-width" >
        <input pattern="[0-9 ]*" matInput placeholder="Employee Salary" [(ngModel)]="employee_salary" name="employee_salary" required id="employee_salary" #salary="ngModel">
      </mat-form-field>
      <div *ngIf="salary.invalid && (salary.dirty || salary.touched)" class="alert alert-danger">
          <div *ngIf="salary.errors.required">
            Employee Salary Is Required.
          </div>
          <div *ngIf="salary.errors.pattern">
            You Can Not Enter Any Alphabets.
            </div>
        </div>
        <!-- col-md-6 finish -->
      </div>
      <div class="col-md-6"> 
      <!-- <form class="example-form" >
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="Employee Designation" [(ngModel)]="employee_designation" name="employee_designation" required id="employee_designation" #designation="ngModel">
        </mat-form-field> -->
         <mat-form-field>
        <mat-select placeholder="Select Employee Designation" [(ngModel)]="employee_designation" name="employee_designation" required id="employee_designation" #designation="ngModel">
          <mat-option *ngFor="let item of designation_arr" [value]="item">
             {{item}} 
          </mat-option>
        </mat-select>
      </mat-form-field> 
        <div *ngIf="designation.invalid && (designation.dirty || designation.touched)" class="alert alert-danger">
          <div *ngIf="designation.errors.required">
            Employee Designation Is Required.
          </div>
        </div>
        
        
    
      <mat-form-field class="example-full-width" >
        <input maxlength="10" pattern="[0-9 ]*" matInput placeholder="Employee Mobileno" [(ngModel)]="employee_mobileno" name="employee_mobileno" required id="employee_mobileno" #mobile="ngModel">
      </mat-form-field>
      <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">
          <div *ngIf="mobile.errors.required">
            Employee Mobile Is Required.
          </div>
          <div *ngIf="mobile.errors.pattern">
            You Can Not Enter Any Alphabets.
            </div>
        </div>
  
      
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="Employee City" [(ngModel)]="employee_city" name="employee_city" required id="employee_city" #city="ngModel">
        </mat-form-field>   
        <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
            <div *ngIf="city.errors.required">
              Employee City Is Required.
            </div>
          </div>
          
    <!-- <form class="example-form" >
      <mat-form-field class="example-full-width" >
        <input matInput placeholder="Employee Gender" [(ngModel)]="employee_gender" name="employee_gender" required id="employee_gender" #gender="ngModel">
      </mat-form-field> -->
      <h4>Gender :-</h4>
      <br>
      <mat-radio-group name="user_gender" [(ngModel)]="employee_gender" required id="employee_gender" #gender="ngModel">
        <mat-radio-button *ngFor="let item of gender_arr" [value]="item">{{item}}</mat-radio-button>
      </mat-radio-group>
      <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">
          <div *ngIf="gender.errors.required">
            Employee Gender Is Required.
          </div>
        </div>
        
    
      <mat-form-field class="example-full-width" >
        <input matInput placeholder="Employee Address" [(ngModel)]="employee_address" name="employee_address" required id="employee_address" #address="ngModel">
      </mat-form-field>
      <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
          <div *ngIf="address.errors.required">
            Employee Address Is Required.
          </div>
        </div>
         
    
      <!-- <mat-form-field class="example-full-width" >
        <input matInput placeholder="Employee Type" [(ngModel)]="employee_type" name="employee_type" required id="employee_type" #type="ngModel">
      </mat-form-field>
      <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger">
          <div *ngIf="type.errors.required">
            Employee Type Is Required.
          </div>
        </div> -->
         
    </div>
    </div>
<br>
      <button [disabled]="!f1.valid" (click)="onAddEmployeeButton()" mat-raised-button color="primary">&nbsp;&nbsp;&nbsp; ADD</button>
      &nbsp;&nbsp;&nbsp;<button   mat-raised-button color="primary">&nbsp;&nbsp;&nbsp; CANCEL</button>
    </form>
</div>