<div class="container">
  <h1 style="margin-left:450px;font-size: 40px">ADD CATEGORY</h1>
  <button  (click)="BackButton()" mat-raised-button color="primary" style="margin-left:1000px">&nbsp;&nbsp; BACK</button>



    <form class="example-form" >
    <mat-form-field class="example-full-width" >
      <input matInput  pattern="[a-zA-Z ]*" placeholder="Category name" [(ngModel)]="category_name"  name="name" required #name="ngModel">
    </mat-form-field>

    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">
        Category Name Is Required.
        </div>
        <div *ngIf="name.errors.pattern">
            You Can Not Enter Any Number.
            </div>
      </div>
    

<br>
<button *ngIf="category_name!=''" (click)="onAddCategoryButton()" mat-raised-button color="primary">&nbsp;&nbsp;&nbsp; ADD</button>
      <button *ngIf="category_name==''" disabled (click)="onAddCategoryButton()" mat-raised-button color="primary">&nbsp;&nbsp;&nbsp; ADD</button>
      &nbsp;&nbsp;&nbsp;<button (click)="OnCancel()"  mat-raised-button color="primary">&nbsp;&nbsp;&nbsp; CANCEL</button>
    </form>
  </div>
  