 <div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item" style="width:500px">
            <h1>Bar chart</h1><br>
                <app-bar-chart></app-bar-chart>
        </li>
        <li class="nav-item" style="width:500px">
                <h1>Doughnut chart</h1><br>
                <app-doughnut-chart></app-doughnut-chart>
        </li>
        
         <!-- <li class="nav-item" style="width:500px">
                <h1>Radar chart</h1><br>
                <app-radar-chart></app-radar-chart>
        </li> -->
        <li class="nav-item" >
                <h1>Pie chart</h1><br>
                <app-pie-chart></app-pie-chart>
        </li>
    </ul>
</div>
 